---
http_interactions:
- request:
    method: get
    uri: https://api.at.govt.nz/v2/notifications/stop/7035
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<SECRET>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"OK","response":[{"attributes":{"OBJECTID":1,"AFFECTEDSTOPID":7035,"AFFECTEDROUTE":"76X,802X,820,822,834,837,839,858,85X,863X,866X,86X,873X,874X,875,877X,879,87X,900X,920,922,945X,952,956","NEWSTOPID":1079,"NEWSTOPNAME":"137
        Wellesley St","NEWSTOPEXISTINGROUTE":"OUT","NEWSTOPSTATUS":"Existing Stop","NEWSTOPNOTE":""}},{"attributes":{"OBJECTID":2,"AFFECTEDSTOPID":7035,"AFFECTEDROUTE":"76X,802X,820,822,834,837,839,858,85X,863X,866X,86X,873X,874X,875,877X,879,87X,900X,920,922,945X,952,956","NEWSTOPID":1083,"NEWSTOPNAME":"Wellesley
        St near Hobson St","NEWSTOPEXISTINGROUTE":"OUT","NEWSTOPSTATUS":"Existing
        Stop","NEWSTOPNOTE":""}}],"error":null}'
  recorded_at: Tue, 18 Sep 2018 06:24:33 GMT
recorded_with: VCR 4.0.0
