---
http_interactions:
- request:
    method: get
    uri: https://api.at.govt.nz/v2/gtfs/routes/routeShortName/blahblahblah
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<SECRET>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"OK","response":[],"error":null}'
  recorded_at: Thu, 30 Aug 2018 10:51:38 GMT
recorded_with: VCR 4.0.0
