---
http_interactions:
- request:
    method: get
    uri: https://api.at.govt.nz/v2/public/realtime/vehiclelocations?tripid=476143384-20180815114333_v70.9
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<SECRET>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"OK","response":{"entity":[{"id":"fcd8d7d8-3d84-f1ab-c132-bf346538ddb3","is_deleted":false,"vehicle":{"trip":{"trip_id":"476143384-20180815114333_v70.9","route_id":"72113-20180815114333_v70.9","start_time":"22:30:00","schedule_relationship":0},"vehicle":{"id":"37E6"},"position":{"latitude":-36.883867,"longitude":174.733183,"bearing":"107"},"timestamp":1535626840,"occupancy_status":0}}],"header":{"gtfs_realtime_version":"1.0","incrementality":0,"timestamp":1535626849.829}},"error":null}'
  recorded_at: Thu, 30 Aug 2018 11:00:49 GMT
recorded_with: VCR 4.0.0
