---
http_interactions:
- request:
    method: get
    uri: https://api.at.govt.nz/v2/gtfs/versions
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<SECRET>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"OK","response":[{"version":"20180815114333_v70.9","startdate":"2018-08-26T00:00:00.000Z","enddate":"2018-11-30T00:00:00.000Z"}],"error":null}'
  recorded_at: Tue, 04 Sep 2018 09:52:17 GMT
recorded_with: VCR 4.0.0
