---
http_interactions:
- request:
    method: get
    uri: https://api.at.govt.nz/v2/notifications/nothingmuchgoingonhere
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<SECRET>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"OK","response":{"time":"2018-09-18 17:57:34","data":[]},"error":null}'
  recorded_at: Tue, 18 Sep 2018 05:57:42 GMT
recorded_with: VCR 4.0.0
