---
http_interactions:
- request:
    method: get
    uri: https://api.at.govt.nz/v2/public/realtime/vehiclelocations?vehicleid=wellwellwelllookeehere
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<SECRET>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"OK","response":{"entity":[],"header":{"gtfs_realtime_version":"1.0","incrementality":0,"timestamp":1537337467.529}},"error":null}'
  recorded_at: Wed, 19 Sep 2018 06:11:06 GMT
recorded_with: VCR 4.0.0
