---
http_interactions:
- request:
    method: get
    uri: https://api.at.govt.nz/v2/gtfs/routes/routeId/wutangagain
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<SECRET>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"OK","response":[],"error":null}'
  recorded_at: Thu, 08 Nov 2018 08:06:31 GMT
recorded_with: VCR 4.0.0
