---
http_interactions:
- request:
    method: get
    uri: https://api.at.govt.nz/v2/gtfs/routes/routeId/73902-20181026152814_v71.31
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Ocp-Apim-Subscription-Key:
      - "<SECRET>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"OK","response":[{"route_id":"73902-20181026152814_v71.31","agency_id":"GBT","route_short_name":"739","route_long_name":"Botany
        To Beachlands And Maraetai Via Ormiston And Whitford","route_desc":null,"route_type":3,"route_url":null,"route_color":null,"route_text_color":null}],"error":null}'
  recorded_at: Thu, 08 Nov 2018 08:06:29 GMT
recorded_with: VCR 4.0.0
